# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
CardGameAPI/.vs/CardGameAPI/v15/.suo
CardGameAPI/.vs/CardGameAPI/v15/Server/sqlite3/db.lock
CardGameAPI/.vs/CardGameAPI/v15/Server/sqlite3/storage.ide
CardGameAPI/.vs/CardGameAPI/v15/Server/sqlite3/storage.ide-wal
CardGameAPI/.vs/CardGameAPI/v15/Server/sqlite3/storage.ide-shm
CardGameAPI/CardGameAPI/obj/CardGameAPI.csproj.nuget.cache
CardGameAPI/CardGameAPI/obj/CardGameAPI.csproj.nuget.g.props
CardGameAPI/CardGameAPI/obj/CardGameAPI.csproj.nuget.g.targets
CardGameAPI/CardGameAPI/obj/Debug/netcoreapp2.1/CardGameAPI.AssemblyInfo.cs
CardGameAPI/CardGameAPI/obj/Debug/netcoreapp2.1/CardGameAPI.AssemblyInfoInputs.cache
CardGameAPI/CardGameAPI/obj/Debug/netcoreapp2.1/CardGameAPI.assets.cache
CardGameAPI/CardGameAPI/obj/Debug/netcoreapp2.1/CardGameAPI.csproj.CoreCompileInputs.cache
CardGameAPI/CardGameAPI/obj/Debug/netcoreapp2.1/CardGameAPI.csprojAssemblyReference.cache
CardGameAPI/CardGameAPI/obj/Debug/netcoreapp2.1/CardGameAPI.RazorAssemblyInfo.cache
CardGameAPI/CardGameAPI/obj/Debug/netcoreapp2.1/CardGameAPI.RazorAssemblyInfo.cs
CardGameAPI/CardGameAPI/obj/Debug/netcoreapp2.1/CardGameAPI.RazorTargetAssemblyInfo.cache
CardGameAPI/CardGameAPI/obj/Debug/netcoreapp2.1/CardGameAPI.pdb
CardGameAPI/CardGameAPI/obj/Debug/netcoreapp2.1/CardGameAPI.dll
CardGameAPI/CardGameAPI/obj/Debug/netcoreapp2.1/CardGameAPI.csproj.FileListAbsolute.txt
CardGameAPI/CardGameAPI/bin/Debug/netcoreapp2.1/CardGameAPI.deps.json
CardGameAPI/CardGameAPI/bin/Debug/netcoreapp2.1/CardGameAPI.dll
CardGameAPI/CardGameAPI/bin/Debug/netcoreapp2.1/CardGameAPI.pdb
CardGameAPI/CardGameAPI/bin/Debug/netcoreapp2.1/CardGameAPI.runtimeconfig.dev.json
CardGameAPI/CardGameAPI/bin/Debug/netcoreapp2.1/CardGameAPI.runtimeconfig.json
CardGameAPI/.vs/CardGameAPI/DesignTimeBuild/.dtbcache
CardGameAPI/.vs/config/applicationhost.config
CardGameAPI/CardGameAPI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CardGameAPI/CardGameAPI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CardGameAPI/CardGameAPI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
.vscode/tasks.json
.vscode/launch.json
CardGameAPI/CardGameAPI/obj/Debug/netcoreapp2.1/project.razor.json
CardGameAPI/CardGameDB/bin/Debug/CardGameDB.dacpac
CardGameAPI/CardGameDB/bin/Debug/CardGameDB.dll
CardGameAPI/CardGameDB/bin/Debug/CardGameDB.pdb
CardGameAPI/CardGameDB/bin/Debug/CardGameDB.publish.sql
CardGameAPI/CardGameDB/bin/Debug/DeploymentReport.txt
CardGameAPI/CardGameDB/obj/Debug/Model.xml
CardGameAPI/CardGameDB/obj/Debug/CardGameDB.sqlprojAssemblyReference.cache
CardGameAPI/CardGameDB/obj/Debug/CardGameDB.sqlproj.FileListAbsolute.txt
CardGameAPI/CardGameDB/obj/Debug/CardGameDB.pdb
CardGameAPI/CardGameDB/obj/Debug/CardGameDB.dll
CardGameAPI/CardGameAPI/CardGameAPI.csproj.user
CardGameAPI/CardGameAPI/obj/Debug/netcoreapp2.1/CardGameAPI.csprojResolveAssemblyReference.cache
CardGameAPI/CardGameAPI/obj/project.assets.json
CardGameAPI/CardGameDB/CardGameDB.jfm
CardGameAPI/CardGameAPI/obj/project.assets.json
CardGameAPI/CardGameAPI/obj/project.assets.json
CardGameAPI/CardGameAPI/obj/project.assets.json
CardGameAPI/CardGameAPI/obj/project.assets.json
CardGameAPI/CardGameDB/CardGameDB.sqlproj
CardGameAPI/CardGameDB/CardGameDB.sqlproj
CardGameAPI/CardGameAPI/obj/project.assets.json
CardGameAPI/CardGameDB/bin/Debug/DeploymentReport_1.txt
