# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
CardGameAPI/CardGameAPI/CardGameUI/dist
CardGameAPI/CardGameAPI/CardGameUI/dist-server
CardGameAPI/CardGameAPI/CardGameUI/tmp
CardGameAPI/CardGameAPI/CardGameUI/out-tsc

# dependencies
CardGameAPI/CardGameAPI/CardGameUI/node_modules

# IDEs and editors
CardGameAPI/CardGameAPI/CardGameUI/.idea
CardGameAPI/CardGameAPI/CardGameUI/.project
CardGameAPI/CardGameAPI/CardGameUI/.classpath
CardGameAPI/CardGameAPI/CardGameUI/.c9/
CardGameAPI/CardGameAPI/CardGameUI/*.launch
CardGameAPI/CardGameAPI/CardGameUI/.settings/
CardGameAPI/CardGameAPI/CardGameUI/*.sublime-workspace

# IDE - VSCode
CardGameAPI/CardGameAPI/CardGameUI/.vscode/*

# misc
CardGameAPI/CardGameAPI/CardGameUI/.sass-cache
CardGameAPI/CardGameAPI/CardGameUI/connect.lock
CardGameAPI/CardGameAPI/CardGameUI/coverage
CardGameAPI/CardGameAPI/CardGameUI/libpeerconnection.log
CardGameAPI/CardGameAPI/CardGameUI/npm-debug.log
CardGameAPI/CardGameAPI/CardGameUI/yarn-error.log
CardGameAPI/CardGameAPI/CardGameUI/testem.log
CardGameAPI/CardGameAPI/CardGameUI/typings

# e2e
CardGameAPI/CardGameAPI/CardGameUI/e2e/*.js
CardGameAPI/CardGameAPI/CardGameUI/e2e/*.map

# System Files
.DS_Store
Thumbs.db
CardGameAPI/.vs/*
.vscode/tasks.json
.vscode/launch.json
CardGameAPI/CardGameAPI/CardGameAPI.csproj.user
CardGameAPI/CardGameDB/CardGameDB.jfm
CardGameAPI/CardGameDB/CardGameDB.sqlproj
CardGameAPI/CardGameDB/CardGameDB.sqlproj
CardGameAPI/CardGameDB/CardGameDB.dbmdl
CardGameAPI/CardGameAPI/bin/*
CardGameAPI/CardGameAPI/obj/*
CardGameAPI/CardGameDB/bin/*
CardGameAPI/CardGameDB/obj/*