<div class="ui-g" *ngIf="selectedCard">
  <div class="ui-g-12">
    <p-card header="Selected Card">
      <div class="ui-g">
        <div class="ui-g-12">
          <span class="ui-float-label">
            <input id="card-title" type="text" size="30" pInputText [(ngModel)]="selectedCard.name">
            <label for="card-name">Card Title</label>
          </span>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12">
          <span class="ui-float-label">
            <input id="card-title" type="text" size="30" pInputText [(ngModel)]="selectedCard.description">
            <label for="card-name">Card Description</label>
          </span>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12">
          <span class="ui-float-label">
            <input id="card-title" type="text" size="30" pInputText [(ngModel)]="selectedCard.reputationPoints">
            <label for="card-name">Reputation Points</label>
          </span>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12">
          <span class="ui-float-label">
            <input id="card-title" type="text" size="30" pInputText [(ngModel)]="selectedCard.gold">
            <label for="card-name">Gold Value</label>
          </span>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-6">
          <p-card header="Add Card Role">
            <div class="ui-g">
              <div class="ui-g-2">
                <p-dropdown [options]="cardRoleSelectItems" [(ngModel)]="associationCardRole" optionLabel="label"></p-dropdown>
              </div>
              <div class="ui-g-10">
                <button pButton type="button" label="Add Role" (click)="addRoleToCard()"></button>
              </div>
            </div>
            <p-table [value]="selectedCard.definedDice">
              <ng-template pTemplate="header">
                <tr>
                  <th>Name</th>
                  <th>Dice Number</th>
                  <th>Remove</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-role>
                <tr>
                  <td>{{role.name}}</td>
                  <td>{{role.diceNumber}}</td>
                  <td>
                    <i class="fas fa-trash fa-2x" (click)="removeRoleFromCard(role)"></i>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-card>
        </div>
        <div class="ui-g-6"></div>
      </div>
      <div class="ui-g">
        <div class="ui-g-2">
          <button pButton type="button" label="Save Card" (click)="saveCard()"></button>
        </div>
        <div class="ui-g-10">
          <button pButton type="button" label="Cancel" class="ui-button-warning" (click)="unselectCard()"></button>
        </div>
      </div>
    </p-card>
  </div>
</div>
<div class="ui-g" *ngIf="!selectedCard">
  <div class="ui-g-12">
    <button pButton type="button" label="Add Card" (click)="addCard()"></button>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12">
    <p-table [value]="cards">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Reputation Points</th>
          <th>Gold Value</th>
          <th>Description</th>
          <th>Manage</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-card>
        <tr>
          <td>{{card.id}}</td>
          <td>{{card.name}}</td>
          <td>{{card.reputationPoints}}</td>
          <td>{{card.gold}}</td>
          <td>{{card.description}}</td>
          <td>
            <i class="fas fa-edit fa-2x" (click)="editCard(card)"></i>
            <i class="fas fa-trash fa-2x" (click)="deleteCard(card)"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="ui-g" *ngIf="selectedRole">
  <div class="ui-g-12">
    <p-card header="New Card Role Info">
      <div class="ui-g">
        <div class="ui-g-12">
          <span class="ui-float-label">
            <input id="card-title" type="text" size="30" pInputText [(ngModel)]="selectedRole.name">
            <label for="card-name">Card Role Name</label>
          </span>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12">
          <span class="ui-float-label">
            <input id="card-title" type="text" size="30" pInputText [(ngModel)]="selectedRole.diceNumber">
            <label for="card-name">Card Role DiceNumber</label>
          </span>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-2">
          <button pButton type="button" label="Save Card Role" (click)="saveCardRole()"></button>
        </div>
        <div class="ui-g-10">
          <button pButton type="button" label="Cancel" class="ui-button-warning" (click)="unselectRole()"></button>
        </div>
      </div>
    </p-card>
  </div>
</div>
<div class="ui-g" *ngIf="!selectedRole">
  <div class="ui-g-12">
    <button pButton type="button" label="Add Card Role" (click)="addCardRole()"></button>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12">
    <p-table [value]="cardRoles">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Dice Number</th>
          <th>Manage</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cardrole>
        <tr>
          <td>{{cardrole.id}}</td>
          <td>{{cardrole.name}}</td>
          <td>{{cardrole.diceNumber}}</td>
          <td>
            <i class="fas fa-edit fa-2x" (click)="editCardRole(cardrole)"></i>
            <i class="fas fa-trash fa-2x" (click)="deleteCardRole(cardrole)"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>