<p-card header="CardGame v.01" *ngIf="currentGame">
  <div class="ui-g">
    <div class="ui-g-2">
      <div class="ui-g">
        <div class="ui-g-12">
          <button pButton type="button" *ngIf="!currentGame.active" label="Start Game" (click)="startGame(currentGame)"></button>
          <button pButton type="button" *ngIf="currentGame.active" label="End Game" (click)="endGame(currentGame)"></button>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12">
          <button pButton type="button" label="Leave Game" (click)="leaveGame(currentGame)"></button>
        </div>
      </div>
      <h2>Players</h2>
      <p-table [value]="_signalRService.getPlayers()" class="playerTable">
        <ng-template pTemplate="header">
          <tr>
            <th>Player</th>
            <th>Points</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-player>
          <tr>
            <td>{{player.userName}}</td>
            <td>{{player.points}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="ui-g-10">
      <p-table [value]="_signalRService.getPlayers()" *ngIf="currentGame.active">
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-player>
          <tr>
            <td>{{player.userName}}</td>
            <td>{{player.points}}</td>
            <td>{{player.points}}</td>
          </tr>
          <tr>
            <td>{{player.userName}}</td>
            <td>{{player.points}}</td>
            <td>{{player.points}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>