<p-card header="CardGame v.01" *ngIf="currentGame">
  <div class="ui-g">
    <div class="ui-g-3">
      <div class="ui-g">
        <div class="ui-g-6">
          <button pButton type="button" *ngIf="!currentGame.active" label="Start Game"
            (click)="startGame(currentGame)"></button>
          <button pButton type="button" *ngIf="currentGame.active" label="End Game"
            (click)="endGame(currentGame)"></button>
        </div>
        <div class="ui-g-6">
          <button pButton type="button" label="Leave Game" (click)="leaveGame(currentGame)"></button>
        </div>
        <hr />
      </div>
      <div class="ui-g" *ngIf="currentGame.active">
        <div class="ui-g-12">
          <h2>Player Actions</h2>
          <p-table [value]="dices">
            <ng-template pTemplate="body" let-dice>
              <tr>
                  <td><i class="fas fa-dice-{{digits[dice.diceValue]}}"></i></td>
              </tr>
          </ng-template>
          </p-table>
          <button pButton type="button" label="Roll 'Dem Bones" (click)="leaveGame(currentGame)"></button>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12">
          <h2>Players</h2>
          <p-table [value]="_signalRService.getPlayers()" class="playerTable">
            <ng-template pTemplate="header">
              <tr>
                <th>Player</th>
                <th>Points</th>
                <th>Gold</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-player>
              <tr>
                <td>{{player.userName}}</td>
                <td>{{player.points}}</td>
                <td>{{player.gold}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <div class="ui-g-9" *ngIf="currentGame.active">
      <h2>Game</h2>
      <p-table [value]="cardPiles">
        <ng-template pTemplate="body" let-cardPile>
          <tr>
            <td *ngIf="cardPile[0]">
              <div class="ui-g">
                <div class="ui-g-3">
                  <div class="ui-g">
                    <div class="ui-g-12">
                      Name: {{cardPile[0].name}}
                    </div>
                  </div>
                  <div class="ui-g">
                    <div class="ui-g-12">
                      Description: {{cardPile[0].description}}
                    </div>
                  </div>
                  <div class="ui-g">
                    <div class="ui-g-12">
                      Reputation Points: {{cardPile[0].reputationPoints}}
                    </div>
                  </div>
                  <div class="ui-g">
                    <div class="ui-g-12">
                      Gold: {{cardPile[0].gold}}
                    </div>
                  </div>
                </div>
                <div class="ui-g-9">
                  <img src="{{imageBase}}/cards/{{cardPile[0].image}}" style="max-width: 150px; max-height: 150px;" />
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>