@font-face {
    font-family: XoloniumRegular;
    src: url("../assets/fonts/Xolonium-Regular.otf") format("opentype");
}

@font-face {
    font-family: XoloniumBold;
    font-weight: bold;
    src: url("../assets/fonts/Xolonium-Bold.otf") format("opentype");
}

html {
    font-size: 14px;
}

h3 {
    font-size: 24px;
}

