@font-face {
    font-family: Xolonium;
    src: url("../assets/fonts/Xolonium-Regular.otf") format("opentype");
}

@font-face {
    font-family: Xolonium;
    font-weight: bold;
    src: url("../assets/fonts/Xolonium-Bold.otf") format("opentype");
}