<div class="ui-g" *ngIf="!this._loginService.isPlayerLoggedIn()">
  <div class="ui-g-12">
    <app-login></app-login>
  </div>
</div>

<div class="ui-g" *ngIf="this._loginService.isPlayerLoggedIn()">
  <p-tabMenu [model]="menuItems"></p-tabMenu>
  <div class="ui-g-12">
    <div class="ui-g">
      <div class="ui-g-12">
        <span>Card Game</span>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        <span>v1.0</span>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>