<div class="ui-g">
  <div class="ui-g-12" *ngIf="this._loginService.isPlayerLoggedIn()">
    <p-tabMenu [model]="menuItems"></p-tabMenu>
  </div>
  <div class="ui-g-12">
    <h3>Card Game</h3>
    <span>v0.1</span>
    <div class="ui-g" *ngIf="!this._loginService.isPlayerLoggedIn()">
      <div class="ui-g-12">
        <app-login></app-login>
      </div>
    </div>

    <div class="ui-g" *ngIf="this._loginService.isPlayerLoggedIn()">
      <div class="ui-g-12">
        <div class="ui-g">
          <div class="ui-g-12">
            <span>Welcome {{this._loginService.getPlayer().userName}}</span>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>