<div *ngIf="game">
    <div class="grid">
        <div class="col-4">
            <div class="grid">
                <div class="col-6">
                    <p-button *ngIf="!game.started" label="Start Game" (click)="startGame(game)"></p-button>
                    <p-button *ngIf="game.started" label="End Game" (click)="endGame(game)"></p-button>
                </div>
                <div class="col-6">
                    <p-button label="Leave Game" (click)="leaveGame(game)"></p-button>
                </div>
                <hr />
            </div>
            <div class="grid" *ngIf="gameState?.gamePlayers">
                <div class="col">
                    <h2>Players</h2>
                    <p-table [value]="gameState.gamePlayers" class="playerTable">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Player</th>
                                <th>Points</th>
                                <th>Gold</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-player>
                            <tr>
                                <td>
                                    <div *ngIf="player.currentGamePlayer">
                                        <i class="fas fa-dice-1 fa-2x"></i>
                                    </div>
                                    {{player.player.userName}}
                                </td>
                                <td>{{player.reputationPoints}}</td>
                                <td>{{player.gold}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="grid" *ngIf="gameState?.started">
                <div class="col">
                    <h2>Dice</h2>
                    <p-table [value]="currentPlayer?.dice">
                        <ng-template pTemplate="body" let-dice>
                            <tr>
                                <td><i class="{{dice.icon}}"></i></td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <p-button label="Roll 'Dem Bones"></p-button>
                </div>
            </div>
        </div>
        <div class="col-8" *ngIf="cardPiles">
            <div class="grid">
                <p-dataView #dv [value]="cardPiles">
                    <ng-template let-cardPile pTemplate="listItem">
                        <div class="col-12">
                            <div class="flex flex-column xl:flex-row xl:align-items-start p-2 gap-1">
                                <img class="w-9 sm:w-6rem xl:w-5rem shadow-2 block xl:block mx-auto border-round"
                                    src="{{imageBase}}/cards/{{cardPile[0]?.image}}" [alt]="cardPile[0]?.name" />
                                <div
                                    class="flex flex-column sm:flex-row justify-content-between align-items-start flex-1">
                                    <div class="flex flex-column align-items-center sm:align-items-start gap-1">
                                        <div class="text-base font-bold">Name: {{ cardPile[0]?.name }}</div>
                                        <div class="text-base font-bold">Loot: {{ cardPile[0]?.description }}</div>
                                        <div class="text-base font-bold">Reputation Points: {{ cardPile[0]?.reputationPoints }}</div>
                                        <div class="text-base font-bold">Gold: {{ cardPile[0]?.gold }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </div>

        </div>
    </div>
</div>