<div *ngIf="game">
    <div class="grid">
        <div class="col-3">
            <div class="grid">
                <div class="col-6">
                    <p-button *ngIf="!game.started" label="Start Game" (click)="startGame(game)"></p-button>
                    <p-button *ngIf="game.started" label="End Game" (click)="endGame(game)"></p-button>
                </div>
                <div class="col-6">
                    <p-button label="Leave Game" (click)="leaveGame(game)"></p-button>
                </div>
                <hr />
            </div>
            <div class="grid" *ngIf="gameState?.gamePlayers">
                <div class="col">
                    <h2>Players</h2>
                    <p-table [value]="gameState.gamePlayers" class="playerTable">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Player</th>
                                <th>Points</th>
                                <th>Gold</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-player>
                            <tr>
                                <td>
                                    <div *ngIf="player.currentGamePlayer">
                                        <i class="fas fa-dice-1 fa-2x"></i>
                                    </div>
                                    {{player.player.userName}}
                                </td>
                                <td>{{player.reputationPoints}}</td>
                                <td>{{player.gold}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="grid" *ngIf="gameState?.started">
                <div class="col">
                    <h2>Player Actions</h2>
                    <p-table [value]="currentPlayer?.dice">
                        <ng-template pTemplate="body" let-dice>
                            <tr>
                                <td><i class="{{dice.icon}}"></i></td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <p-button label="Roll 'Dem Bones"></p-button>
                </div>
            </div>
        </div>
        <div class="col-9" *ngIf="cardPiles">
            <h2>Game</h2>
            <p-table [value]="cardPiles">
                <ng-template pTemplate="body" let-card>
                    <tr>
                        <td>
                            <div class="ui-g">
                                <div class="ui-g-3">
                                    <div class="ui-g">
                                        <div class="ui-g-12">
                                            Name: {{card[0]?.name}}
                                        </div>
                                    </div>
                                    <div class="ui-g">
                                        <div class="ui-g-12">
                                            Loot: {{card[0]?.description}}
                                        </div>
                                    </div>
                                    <div class="ui-g">
                                        <div class="ui-g-12">
                                            Reputation Points: {{card[0]?.reputationPoints}}
                                        </div>
                                    </div>
                                    <div class="ui-g">
                                        <div class="ui-g-12">
                                            Gold: {{card[0]?.gold}}
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-9">
                                    <img src="{{imageBase}}/cards/{{card[0]?.image}}"
                                        style="max-width: 100px; max-height: 100px;" />
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>