<p-card header="CardGame v.01" *ngIf="game">
    <div class="ui-g">
        <div class="ui-g-3">
            <div class="ui-g">
                <div class="ui-g-6">
                    <button pButton type="button" *ngIf="!game.active" label="Start Game"
                        (click)="startGame(game)"></button>
                    <button pButton type="button" *ngIf="game.active" label="End Game" (click)="endGame(game)"></button>
                </div>
                <div class="ui-g-6">
                    <button pButton type="button" label="Leave Game" (click)="leaveGame(game)"></button>
                </div>
                <hr />
            </div>
            <div class="ui-g" *ngIf="gameState?.active">
                <div class="ui-g-12">
                    <h2>Player Actions</h2>
                    <p-table [value]="currentPlayer?.dice">
                        <ng-template pTemplate="body" let-dice>
                            <tr>
                                <td><i class="fas fa-dice-{{digits[dice]}} fa-2x"></i></td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <button pButton type="button" label="Roll 'Dem Bones"></button>
                </div>
            </div>
            <div class="ui-g" *ngIf="gameState">
                <div class="ui-g-12">
                    <h2>Players</h2>
                    <p-table [value]="gameState.gamePlayers" class="playerTable">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Player</th>
                                <th>Points</th>
                                <th>Gold</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-player>
                            <tr>
                                <td>
                                    <div *ngIf="player.currentGamePlayer">
                                        <i class="fas fa-dice-1 fa-2x"></i>
                                    </div>
                                    {{player.player.userName}}
                                </td>
                                <td>{{player.reputationPoints}}</td>
                                <td>{{player.gold}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        <div class="ui-g-9" *ngIf="gameState?.active">
            <h2>Game</h2>
            <p-table [value]="gameState.cards">
                <ng-template pTemplate="body" let-card>
                    <tr>
                        <td>
                            <div class="ui-g">
                                <div class="ui-g-3">
                                    <div class="ui-g">
                                        <div class="ui-g-12">
                                            Name: {{card?.name}}
                                        </div>
                                    </div>
                                    <div class="ui-g">
                                        <div class="ui-g-12">
                                            Description: {{card?.description}}
                                        </div>
                                    </div>
                                    <div class="ui-g">
                                        <div class="ui-g-12">
                                            Reputation Points: {{card?.reputationPoints}}
                                        </div>
                                    </div>
                                    <div class="ui-g">
                                        <div class="ui-g-12">
                                            Gold: {{gameState?.cards.gold}}
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-9">
                                    <img src="{{imageBase}}/cards/{{card?.image}}"
                                        style="max-width: 150px; max-height: 150px;" />
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-card>